#header {
    display:none;
}
.mainMenu {
    position:relative;
    margin:auto;
    width:50%; height:100%;
    text-align:center;
}
.main-menu-logo img {
    margin-top:10px;
    width:100%;
}
.main-menu-item {
    width: 50%; height:50px;
    margin: 0px 0px 20px 0px;

}
.main-menu-item span {
    font-size:30px; display:inline-block; margin:-5px 0px 0px 0px;
    color:white;
    font-family:'Victorian Plain';
    text-transform:capitalize;
}
.main-menu-item:hover {
    cursor:pointer;
    box-shadow:0px 0px 10px 0px white;
}
.main-menu-item:active{
    color:white !important;
    background-color:#073e65 !important;
    border:solid 2px white !important;
    border-radius:4px;
}