.my-header {
    position: fixed;
    top: 0;
}
.view-chap-back-button-container {
    height: 60px !important;
}
.view-chap-win-backbutton {
    margin-top: 10px;
}

.view-chap-title {
    position:relative;
    height: 30px;
    padding: 20px 0px 10px 10px;
    margin: 0px 0px 0px 0px;
}

    .view-chap-title h1 {
        font-size:20px;
        width:30%;
        float:left;
    }
    .view-chap-title .view-chap-chapter-list {
    position:relative; float:right;
    height: 20px; width:15%;
    margin: 0px 0px 0px 0px;
    background-color:white;
    color:black;
}
        .view-chap-title .view-chap-chapter-list:active {
            background-color:white !important;
        }

.chapter-container {
    clear:both;
    margin-left:-11%;
    width: calc(100%+11%);
    height: 100%;
    overflow: scroll;
    background-color:black;
}
    .chapter-container img {
        width:100%;
    }

/*
.left-side,
.right-side {
    width: 80%;
    margin: auto;
}

.right-side {
}

    .left-side img,
    .right-side img {
        width: 100%;
        padding: 0;
        margin: 0px 0px 10px 0px;
        z-index: 99999;
    }
*/

.back-page, .next-page {
    position:relative;
    float:right;
    border:none; padding:5px;
    height:25px; width:15px !important;
}
.back-page {
    margin: 0px 10px 0px 0px;
}
.next-page {
    margin: 0px 50px 0px 10px;
}
.back-page {
    -ms-transform: rotate(180deg);
}

    .back-page:hover, .next-page:hover {
        cursor: pointer;
        background-color:black;
        border-radius:4px;
        transition:all 0.3s;
    }


