.my-header {
    position: fixed;
    top: 0;
}

.view-chap-back-button-container {
    position: relative;
    height: 60px !important;
    color: white;
    background-color: black;
}

.view-chap-win-backbutton {
    margin-top: 10px;
    color: white;
    border-color: white;
}

.view-chap-header-title {
    position: relative;
    height: 30px;
    color: white;
    background-color: black;
    padding: 20px 0px 10px 10px;
    margin: 0px 0px 0px 0px;
}

    .view-chap-header-title h1 {
        font-size: 20px;
        width: 30%;
        float: left;
    }

    .view-chap-header-title .view-chap-chapter-list {
        position: relative;
        float: right;
        height: 20px;
        width: 15%;
        margin: 0px 0px 0px 0px;
        background-color: white;
        color: black;
    }

        .view-chap-header-title .view-chap-chapter-list:active {
            background-color: white !important;
        }
        .back-page, .next-page {
    position: relative;
    float: right;
    border: none;
    padding: 5px;
    height: 25px;
    width: 15px !important;
}

.back-page {
    margin: 0px 10px 0px 0px;
}

.next-page {
    margin: 0px 50px 0px 10px;
}

.back-page {
    -ms-transform: rotate(180deg);
}

    .back-page:hover, .next-page:hover {
        cursor: pointer;
        background-color: black;
        border-radius: 4px;
        transition: all 0.3s;
    }

.full-screen {
    position:relative; float:right; border:white;
    background-image:url(../images/full-screen-icon.png);
    background-repeat:no-repeat;
    background-size:contain;
}

.chapter-container {
    clear: both; text-align:center;
    margin-left: -11%;
    width: calc(100%+11%); height: 100%;
    background-color: white;
    overflow: scroll;
    z-index: 1;
}

    .chapter-container .story-image {
        width: 50%;
        transition:all 0.3s;
    }

/*
.left-side,
.right-side {
    width: 80%;
    margin: auto;
}

.right-side {
}

    .left-side img,
    .right-side img {
        width: 100%;
        padding: 0;
        margin: 0px 0px 10px 0px;
        z-index: 99999;
    }
*/

.view-chap-adv {
    position: fixed;
    margin:auto;
    bottom: 1px; left:20%;
    width: 60%; height: 50px; 
    background-color: rgba(0, 0, 0,0.7);
    border: 2px solid black;
    transition: all 0.2s;
    overflow-x: auto;
    overflow-y: hidden;
}

.view-chap-adv .view-chap-adv-close-btn {
        position: absolute;
        right: 0; top: 0;
        width:10px !important; height:5px !important;
        background-color:black; color:white;
        border:1px solid white;
        font-size:10px;
    }    
    .view-chap-adv .view-chap-adv-close-btn:hover {
        cursor: pointer;
        background-color:#808080;
    }

    .view-chap-adv img {
        height: 48px;
        border: none;
        margin: 0px 10px 0px 10px;
        float: left;
        border: 1px solid white;
    }

    

@media screen and (-ms-view-state: fullscreen-portrait) {
    .chapter-container {
        clear: both;
        margin-left: -25%;
        width: calc(100%+11%);
        height: 100%;
        overflow: scroll;
        background-color: black;
    }
}
