

/* LIBRARIES STYLE */

.list-website-container {
    position: relative;
    width: 100%;
    height:calc(100% - 120px);
}

.list-website-control {
    position: relative;
    height: 100%;
    width: 100%;
}


button.webname {
    width: 600px;
    font-size: 25px;
    text-align: left;
    font-weight: 100;
    padding: 20px;
    background-color: #0094ff !important;
    border: none;
    transition: padding 0.8s, text-transform 0.8s;
}

.webname:hover {
    padding-left: 40px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: padding 0.8s, text-transform 0.8s;
    border: none;
}

.webname:checked {
    padding-left: 40px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
}

.webname:active {
    color: white !important;
    background-color: #073e65 !important;
}



/* */

@media screen and (-ms-view-state: snapped) {
    .list-website-container {
        position:relative;
        margin-left:calc(-30%);
        width: calc(100% + 30%);
        height:calc(100% - 120px);
        
    }

    .list-website-control {
        position: relative;
        height: 100%;
        width: 100%;
    }
    .list-website-control div div {
    background-color:blue;
    }
    button.webname {
        width: 300px;
    font-size: 20px;
    text-align: left;
    font-weight: 100;
    padding:20px;
    background-color: #0094ff !important;
    border: none;
    
    overflow:hidden;
    }

    .webname:hover {
        padding-left: 40px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        transition: padding 0.8s, text-transform 0.8s;
        border: none;
    }

    .webname:checked {
        padding-left: 20px !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
    }

    .webname:active {
        color: white !important;
        background-color: #073e65 !important;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {

}
