

/* LIBRARIES STYLE */

.list-website-container {
    position: relative;
    width: 100%;
    height:calc(100% - 120px);
}

.list-website-control {
    position: relative;
    height: 100%;
    width: 100%;
}


button.webname {
    width: 600px;
    font-size: 25px;
    text-align: left;
    font-weight: 100;
    padding: 20px;
    background-color: #0094ff !important;
    border: none;
    transition: padding 0.8s, text-transform 0.8s;
}

.webname:hover {
    padding-left: 40px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: padding 0.8s, text-transform 0.8s;
    border: none;
}


.webname:active {
    color: white !important;
        background-color: #073e65 !important;
}
.body-logo {
    position:absolute;
    right:10%; bottom:0; margin:0px;
    width:310px; height:500px;
    border:none;
}
    .body-logo img {
        width:100%;
        border:none;
        margin:0px;
        display:block;
    }


/* */

@media screen and (-ms-view-state: snapped) {
    .list-website-container {
        position:relative;
        margin-left:calc(-40%);
        width: calc(100% + 40%);
        height:calc(100% - 120px);
        overflow:hidden;
    }

    .list-website-control {
        position: relative;
        height: 100%;
        width: 100%;
        overflow:hidden;
    }
    button.webname {
        width: 300px; height:100%;
    font-size: 20px;
    text-align: left;
    font-weight: 100;
    padding:23px 20px 23px 20px;
    background-color: #0094ff !important;
    
    overflow:hidden;
    }

    .webname:hover {
        padding-left: 40px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        transition: padding 0.8s, text-transform 0.8s;
        border: none;
    }

    .webname:checked {
        padding-left: 20px !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
    }

    .webname:active {
        color: white !important;
        background-color: #073e65 !important;
    }
    .body-logo {
    display:none !important;
}
}

@media screen and (-ms-view-state: fullscreen-portrait) {

}
