/**/

.list-story-container {
    position: relative;
    width: 100%;
    height:calc(100% - 120px);
}
/**/

.groupeditemspage {
    position:relative;
    height:100%;
    width: 100%;
}

    .groupeditemspage .groupeditemslist {
        position:relative;
        height:90%;
    }

        /* This selector is used to prevent ui-dark/light.css from overwriting changes
       to .win-surface. 
    .groupeditemspage .groupeditemslist .win-horizontal.win-viewport .win-surface {
        margin-bottom: 0px;
        margin-left: 5px;
        margin-right: 115px;
        margin-top: 10px;
    }*/

        .groupeditemspage .groupeditemslist .win-groupheader {
            padding: 0;
        }

        /* Use grid and top level layout for truncation */
        .groupeditemspage .groupeditemslist .group-header {
            -ms-grid-columns: minmax(0, max-content) 7px max-content;
            -ms-grid-rows: max-content;
            display: -ms-inline-grid;
            line-height: 1.5;
        }

        /* Override default button styles */
        .groupeditemspage .groupeditemslist .group-header, .group-header:hover, .group-header:hover:active {
            background: transparent;
            border: 0;
            margin-bottom: 1px;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 1px;
            min-height: 0;
            padding: 0;
        }

            .groupeditemspage .groupeditemslist .group-header .group-title {
                display: inline-block;
            }

            .groupeditemspage .groupeditemslist .group-header .group-chevron {
                -ms-grid-column: 3;
                display: inline-block;
            }

                .groupeditemspage .groupeditemslist .group-header .group-chevron::before {
                    content: "\E26B";
                    font-family: 'Segoe UI Symbol';
                }

        .groupeditemspage .groupeditemslist .item {
            height: 200px;
            width: 200px;
            background-color: #766241 !important;
        }

            .groupeditemspage .groupeditemslist .item .item-image {
                -ms-grid-row-span: 2;
                width: 100%;
            }

            .groupeditemspage .groupeditemslist .item .item-overlay {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 50px !important;
                background-color: rgba(128, 128, 128, 0.7);
                transition: all 0.5s;
            }

            .groupeditemspage .groupeditemslist .item:hover {
                cursor: pointer !important;
                background-color: orange !important;
            }

                .groupeditemspage .groupeditemslist .item:hover .item-overlay {
                    height: 100px !important;
                    transition: all 0.5s;
                }

            .groupeditemspage .groupeditemslist .item .item-overlay .item-title {
                font-size: 20px;
                overflow: hidden;
                width: 100%;
                padding: 0px 0px 0px 10px;
            }



@media screen and (-ms-view-state: snapped) {
    .list-story-container {
    clear:both;
    margin-left:-30%;
    width: calc(100%+40%);
    height:calc(100% - 120px);
    background-color:black;
}
    .groupeditemspage {
    position:relative;
    height:100%;
    width: calc(100%+30%);
}

    .groupeditemspage .groupeditemslist {
        position:relative;
        height:calc(100%-120px);
    }
    .groupeditemspage .groupeditemslist .item {
            height: 150px;
            width: 90%;
            background-color: orange !important;
        }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .groupeditemspage {
    position:relative;
    height:100%;
    width: 100%;
}

    .groupeditemspage .groupeditemslist {
        position:relative;
        height:90%;
    }
}

/* CUSTOM */
